
<!--1st screen-->

<ion-view title="K-Coach" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/home.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <!--first Screen-->
    <a ng-click="vm.openPropertyTypeList()" id="kCoach-button1" class="button button-calm button-block">Phase I</a>
    <a ui-sref="kegel()" id="kCoach-button2" class="button button-calm button-block">Phase II</a>
    <a ui-sref="kegel()" id="kCoach-button3" class="button button-calm button-block">Phase III</a>
    <a ui-sref="kegel()" id="kCoach-button4" class="button button-calm button-block">Phase IV</a>
    <a ui-sref="kegel()" id="kCoach-button5" class="button button-calm button-block">Phase V</a>
    <a ui-sref="kegel()" id="kCoach-button6" class="button button-calm button-block">Phase VI</a>
    <a ui-sref="kegel()" id="kCoach-button7" class="button button-calm button-block">Phase VII</a>
    <a ui-sref="kegel()" id="kCoach-button8" class="button button-calm button-block">Phase VII - EXT</a>
    <a ui-sref="kegel()" id="kCoach-button9" class="button button-calm button-block">Phase VIII</a>
    <a ui-sref="kegel()" id="kCoach-button10" class="button button-calm button-block">Phase VIII - EXT</a>
    <a ui-sref="kegel()" id="kCoach-button11" class="button button-calm button-block">DHA CITY - IX</a>


  </ion-content>
</ion-view>
